@import '../../styles/variables';


.app-bar-button{
  color: white;
  background-color: $btn-color;
  padding: $btn-padding-movie;
  border-radius: 5px;
}

.app-bar-button:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.app-bar-button:disabled{

  transform: scale(1);
  cursor: not-allowed;
  background-color:$btn-disabled-color;
  padding: $btn-padding-movie;
  border-radius: 5px;

}

.page-title{
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 0px;
}


.login-components-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hello-user-msg{
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 0px;
}

@media screen and (max-width: 750px) {
  .page-title{
    font-size: 24px;
  }

  .appbar-textfield{
    padding: 6px !important;
  }
 
  .app-bar-button{
    padding: 1px;
    border-radius: 3px;

  }
  
  .app-bar-button:disabled{
    border-radius: 3px;
    padding: 1px;
  
  }
  .hello-user-msg{
    font-size: 18px;
  }
  
}