$color1:#37393e;

$btn-padding-movie: 18px;
$btn-padding-movie-med:8px;
$btn-padding-movie-small:3px;


$btn-color: black;
$btn-text: red;

$btn-disabled-color: rgb(42, 42, 42);
$btn-disabled-text: red;