@import './variables';
@import '../components/NominationList/NominationList';
@import '../components/MovieList/MovieList';

.App{
  background-color: $color1;
}

.searchBar-container{
  // margin-top:65px;
  margin-bottom: 2%;
}

.nomination-container{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 10px;
}