@import '../../styles/variables';

.individual-nomination-card{
  justify-content: space-between;
}

.movie-details-and-buttons-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.movie-poster{
  align-self: center;
  border-radius: 10px;
}

.movie-poster:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.movie-title{
  font-size: 24px;
  // margin-top: 8px;
  font-weight: 800;
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movie-details{
  // font-size: 24px;
  // margin-top: 8px;
  font-weight: 800;
}

.movie-buttons-container{
  // margin-top: 23%;
  // position: absolute;
  // bottom:5%;
}

.movie-button{
  color: $btn-text;
  background-color: $btn-color;
  padding: $btn-padding-movie;
  border-radius: 5px;
}

.movie-button:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.movie-button:disabled{
  color:$btn-disabled-text;
  transform: scale(1);
  cursor: not-allowed;
  background-color:$btn-disabled-color;
  padding: $btn-padding-movie;
  border-radius: 5px;
  text-decoration: line-through;

}

.movie-list-error-msg{
  font-size: 18px;
  color: red;
  font-weight: 900;
  margin-top:1em;
}

.movie-page-title{
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 7%;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 1000px) {
  .movie-button{
    color: $btn-text;
    background-color: $btn-color;
    padding: $btn-padding-movie-med;
    border-radius: 5px;
  }


.movie-button:disabled{
  color:$btn-disabled-text;
  transform: scale(1);
  cursor: not-allowed;
  background-color:$btn-disabled-color;
  padding: $btn-padding-movie-med;
  border-radius: 5px;
  text-decoration: line-through;
}

.movie-title{
  font-size: 20px;
  // margin-top: 8px;
  font-weight: 800;
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movie-details{
  font-size: 18px;
  // margin-top: 8px;
  font-weight: 800;
}

}

@media screen and (max-width: 750px) {
  .movie-button{
    color: $btn-text;
    background-color: $btn-color;
    padding: $btn-padding-movie-small;
    border-radius: 5px;
  }


.movie-button:disabled{
  color:$btn-disabled-text;
  transform: scale(1);
  cursor: not-allowed;
  background-color:$btn-disabled-color;
  padding: $btn-padding-movie-small;
  border-radius: 5px;
  text-decoration: line-through;

}

.movie-title{
  font-size: 12px;
  // margin-top: 8px;
  font-weight: 800;
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movie-details{
  font-size: 10px;
  // margin-top: 8px;
  font-weight: 800;
}

.nomination-page-title{
  font-size: 22px;  
}

}