@import '../../styles/variables';

.individual-nomination-card{
  justify-content: space-between;
}

.nomination-poster{
  align-self: center;
  border-radius: 10px;
}

.nomination-poster:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.nomination-details-container{
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

.nomination-title{
  font-size: 14px;
  margin-top: 3px;
  font-weight: 800;
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nomination-details{
  font-size: 12px;
  margin-top: 8px;
  font-weight: 800;

}

.nomination-buttons-container{
  margin-top: 5%;
}

.nomination-button{
  color: $btn-text;
  background-color: $btn-color;
  padding: 12px;
  border-radius: 5px;
}

.nomination-button:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.nomination-button:disabled{
  color: $btn-disabled-text;
  transform: scale(1);
  cursor: not-allowed;
  background-color: $btn-disabled-color;
  padding: 12px;
  border-radius: 5px;
  text-decoration: line-through;

}

.nomination-instructions{
  position:relative; 
  top:5em;
  font-size: 24px;
  font-weight: 800;
  text-align: center;

}

.login-register-prompt-button{
  color: $btn-text;
  background-color: $btn-color;
  padding: 5px;
  border-radius: 5px;
}

.login-register-prompt-button:disabled{
  color: $btn-disabled-text;
  transform: scale(1);
  cursor: not-allowed;
  background-color: $btn-disabled-color;
  padding: 8px;
  border-radius: 5px;
  margin-left: 1em;
}

.nomination-page-title{
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 0px;
}

.nomination-header-container{
  display: flex;
  justify-content: space-between;
}

.results-promp-container{
  display: flex;
}


@media screen and (max-width: 1000px) {
  .nomination-button{
    padding: $btn-padding-movie-med;
  }
  
  .nomination-button:disabled{
    padding: $btn-padding-movie-med;
  }
}

@media screen and (max-width: 750px) {

.makeStyles-nomination-7{
  height: 50vh !important;
}

.nomination-instructions{
  font-size: 18px;
}

.nomination-page-title{
  font-size: 22px;  
}

.nomination-header-container{
  flex-direction: column;
}


.nomination-button{
  padding: $btn-padding-movie-small;
}

.nomination-button:disabled{
  padding: $btn-padding-movie-small;
}

.results-promp-container{
  justify-content: space-between;
}


}